[submodule "res/pinouts/esp23devkit"]
	path = res/esp32/pinout
	url = https://github.com/playelek/pinout-doit-32devkitv1
[submodule "sketch/mlx90640-library"]
	path = sketch/mlx90640-library
	url = https://github.com/melexis/mlx90640-library
[submodule "sketch/SparkFun_MLX90640_Arduino_Example"]
	path = sketch/SparkFun_MLX90640_Arduino_Example
	url = https://github.com/sparkfun/SparkFun_MLX90640_Arduino_Example
[submodule "sketch/demo_ili9341_with_esp32"]
	path = sketch/demo_ili9341_with_esp32
	url = https://github.com/MartyMacGyver/ESP32_Adafruit_ILI9341
[submodule "sketch/ESP32-and-how-to-use-ILI9341-TFT-Display"]
	path = sketch/ESP32-and-how-to-use-ILI9341-TFT-Display
	url = https://github.com/G6EJD/ESP32-and-how-to-use-ILI9341-TFT-Display.git
